# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/thieu1995/csv-files/main/data/pandas/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
# Đọc dữ liệu từ file TSV bạn đã upload
chipo = pd.read_csv("/content/chipotle.tsv", sep='\t')

# Xem thông tin cơ bản
print(chipo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB
None

### Step 4. See the first 10 entries

In [ ]:
print(chipo.head(10))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl
5         3         1                           Chicken Bowl
6         3         1                          Side of Chips
7         4         1                          Steak Burrito
8         4         1                       Steak Soft Tacos
9         5         1                          Steak Burrito

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
5  [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...    $10.98
6                                                NaN     $1.69
7  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8  [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9  [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1

print("Number of observations (len):", len(chipo))

Number of observations (len): 4622

In [ ]:
# Solution 2

print("Number of observations (shape):", chipo.shape[0])

Number of observations (shape): 4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
print("Number of columns:", chipo.shape[1])

Number of columns: 5

### Step 7. Print the name of all the columns.

In [ ]:
print("Columns:", chipo.columns.tolist())

Columns: ['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### Step 8. How is the dataset indexed?

In [ ]:
print("Index:", chipo.index)

Index: RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
most_ordered_item = chipo.groupby('item_name').quantity.sum().idxmax()
print("Most ordered item:", most_ordered_item)

Most ordered item: Chicken Bowl

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
ordered_qty = chipo.groupby('item_name').quantity.sum().max()
print("Quantity ordered of most-ordered item:", ordered_qty)

Quantity ordered of most-ordered item: 761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
most_ordered_choice = chipo.groupby('choice_description').quantity.sum().idxmax()
print("Most ordered choice_description:", most_ordered_choice)

Most ordered choice_description: [Diet Coke]

### Step 12. How many items were orderd in total?

In [ ]:
total_items = chipo.quantity.sum()
print("Total number of items ordered:", total_items)

Total number of items ordered: 4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
print("Before conversion:", chipo.item_price.dtype)

Before conversion: object

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x.replace('$','')))

#### Step 13.c. Check the item price type

In [ ]:
print("After conversion:", chipo.item_price.dtype)

After conversion: float64

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
total_revenue = (chipo['quantity'] * chipo['item_price']).sum()
print("Total revenue:", total_revenue)

Total revenue: 39237.02

### Step 15. How many orders were made in the period?

In [ ]:
total_orders = chipo.order_id.nunique()
print("Number of orders:", total_orders)

Number of orders: 1834

### Step 16. What is the average revenue amount per order?

In [ ]:
# Solution 1

avg_revenue_1 = total_revenue / total_orders
print("Average revenue per order (Solution 1):", avg_revenue_1)

Average revenue per order (Solution 1): 21.39423118865867

In [ ]:
# Solution 2
avg_revenue_2 = chipo.groupby('order_id').apply(lambda x: (x.quantity * x.item_price).sum()).mean()
print("Average revenue per order (Solution 2):", avg_revenue_2)

Average revenue per order (Solution 2): 21.39423118865867

/tmp/ipython-input-642229852.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  avg_revenue_2 = chipo.groupby('order_id').apply(lambda x: (x.quantity * x.item_price).sum()).mean()

### Step 17. How many different items are sold?

In [ ]:
unique_items = chipo.item_name.nunique()
print("Number of unique items sold:", unique_items)

Number of unique items sold: 50